<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="index.html"> <img src="img/logo-light.png" class="logo-img" alt=""> </a>
            <!-- <a class="logo" href="index.html"> <h2>TRAVOL <span>explore the world</span></h2> </a> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown"> <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Home </a>
                    
                </li>
              
                <li class="nav-item dropdown "><a class="nav-link" href="Sri-lanka-tours.html">Sri lanka tours <i class="ti-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="Cultural.html" class="dropdown-item"><span>Cultural</span></a></li>
                        <li><a href="Hill-Country.html" class="dropdown-item"><span>Hill Country</span></a></li>
                        <li><a href="Romantic.html" class="dropdown-item"><span> Romantic</span></a></li>
                        <li><a href="Ayurveda-Wellness.html" class="dropdown-item"><span> Ayurweda Wellness</span></a></li>
                        <li><a href="Nature-Tours.html" class="dropdown-item"><span> Nature Tours</span></a></li>
                        <li><a href="Beach.html" class="dropdown-item"><span> Beach</span></a></li>
                        <li><a href="Excursion.html" class="dropdown-item"><span> Excursion</span></a></li>
                        <li><a href="Special-interest-tours.html" class="dropdown-item"><span> Special interest tours</span></a></li>
                        <li><a href="Vacation-sri-lanka.html" class="dropdown-item"><span> vacation Sri lanka</span></a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown "><a class="nav-link" href="Experience-sri-lanka.html">Experience Ceylon <i class="ti-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="Explore-Nature.html" class="dropdown-item"><span>Explore Nature</span></a></li>
                        <li><a href="Heritage-Culture.html" class="dropdown-item"><span>Heritage Culture</span></a></li>
                        <li><a href="Beaches-&-Sunset.html" class="dropdown-item"><span> Beaches & sunset</span></a></li>
  
                        <li><a href="Wildlife-adventure.html" class="dropdown-item"><span> Wildlife adventure</span></a></li>                   
                    </ul></li>

                <li class="nav-item"><a class="nav-link" href="Rent-a-car.html">Rent a Car</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Travel Guide</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact us</a></li>

                
            </ul>
        </div>
    </div>
</nav>
